compile_commands.json
*.wasm
*.o
wasm/hello.html
wasm/hello.js
build
.cache
build
build_em
build_arm64
build_x86
build_arm32
build_risc
build_riscv
build_cli
buildcli
build2
deploy
*.zip
__pycache__
.idea
