:root {
    --border: #000000;
    --text: #ffffff;
    --btn: #292929;
    --btn-hover: #3d3c3c;
    --btn-active: #3f3f3f;
    --dropdown: #292929;
    --radio-btn: #4a4a4a;
    --radio-checked: #323232;
    --separator: #666;
    --bytes: #313131;
    --log: #161616;
    --help-box: #000d19;
    --popup: #2a3c3f;
    --popup-bar: #0f0f0f;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	color: var(--text);
	font-family: sans-serif;
	background: #23241f;
}

input:focus {
	outline: none;
}

a {color: lightblue;}
a:visited {color: #719aa6;}

table, th, td {
	font-size: 20pt;
	border: 2px solid white;
	background: black;
	border-collapse: collapse;
	font-weight: normal;
}
th {
	overflow: hidden;
}

.bit-high {
	cursor: pointer;
	user-select: none;
	background: green;
}
.bit-low {
	cursor: pointer;
	user-select: none;
	background: #272727;
}
.bitfield {
	background: #4f2e40;
}

textarea {
	width: 500px;
	height: 500px;
	resize: none;
	outline: none;	
	font-size: larger;
	box-sizing: border-box;
	border: none;
	tab-size: 4;
	color: var(--text);
	padding: .5em;
	background: var(--bytes);
}

.form {
	padding: 10px;
}

#reg-value {
	font-size: 15pt;
}

.bitbox-vertical {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 50%;
	overflow-y: scroll;
}

.bitbox-vertical table {
	width: 100%;
}
