:root {
	/* Imported from ret */
    --border: #000000;
    --text: #ffffff;
    --btn: #292929;
    --btn-hover: #3d3c3c;
    --btn-active: #3f3f3f;
    --dropdown: #292929;
    --radio-btn: #4a4a4a;
    --radio-checked: #323232;
    --separator: #666;
    --bytes: #313131;
    --log: #161616;
    --help-box: #000d19;
    --popup: #2a3c3f;
    --popup-bar: #0f0f0f;

	--border-size: 1px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	color: var(--text);
	font-family: sans-serif;
	background: #23241f;
}

input, label {
	user-select: none;
}
input:focus {
	outline: none;
}

a {color: lightblue;}
a:visited {color: #719aa6;}

.bit-table {
	background: black;
}
.bit-table, .bit-table th, .bit-table tr {
	font-size: 20pt;
	border: var(--border-size) solid white;
	border-collapse: collapse;
	font-weight: normal;
	overflow: hidden;
}
.bit {
	user-select: none;
}
.field-name {
	font-style: italic;
	background: #335769;
}
.field-value {
	font-family: monospace;
	font-size: 15pt;
	background: #2b552f;
}
.bitmask {
	background: #1d2727;
	font-size: 10pt;
    font-family: monospace;
}
.field-value-desc {
	display: block;
	overflow-wrap: anywhere;
	color: yellow;
	font-style: italic;
}

textarea {
	width: 100%;
	height: 500px;
	resize: none;
	outline: none;	
	font-size: larger;
	box-sizing: border-box;
	border: none;
	tab-size: 4;
	color: var(--text);
	padding: .5em;
	background: var(--bytes);
}

.form {
	flex: 1;
    margin: 10px;
	border: var(--border-size) solid white;
	padding: 10px;
	background: black;
}

.app {
	display: flex;
	flex-flow: column;
}
.app-vertical {
	display: flex;
	flex-flow: row;
	height: 100%;
}

#reg-value {
	font-size: 15pt;
}

#bitbox {
	flex: 2;
	display: flex;
	padding: 10px;
}
#bitbox table {
	flex: 1;
}

.app-vertical #bitbox {
	overflow-y: scroll;
}

#legend {
	max-width: 300px;
}

#legend {
	align-self: flex-start;
	background: #333333;
}
#legend, #legend tr, #legend th {
	border: var(--border-size) solid white;
	border-collapse: collapse;
	margin: 10px;
	padding: 5px;
}

.legend-box {
	border: var(--border-size) solid white;
	display: inline-block;
	width: 15px;
	height: 15px;
}
